*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/images
.idea/.name
/openCVLibrary343/
/OpenCV-android-sdk/
opencv-3.4.3-android-sdk.zip
/app/src/main/jniLibs/
